In [1]:
import os
import json
from fnmatch import fnmatch
from math import pi
import pandas as pd
import cv2 as cv
import argparse
import sys
from itertools import permutations
from pycocotools.coco import COCO
from pycocotools.cocoeval import COCOeval

In [2]:
def fddb_dataset(annotations):
    with open(annotations) as f:
        imgPath = [] 
        rad_x = []
        rad_y = []
        angle = []
        center_x = []
        center_y = []
        detection_score = []
        lineId = 0
        lines = f.readlines()
        while lineId < len(lines):
            Path = lines[lineId]
            lineId += 1
            # Faces
            numFaces = int(lines[lineId])
            for i in range(numFaces):
                lineId += 1
                params = [float(v) for v in lines[lineId].split()]
                radx, rady, ang, centerx, centery, score = params
                imgPath.append(Path) 
                rad_x.append(radx)
                rad_y.append(rady)
                angle.append(ang)
                center_x.append(centerx)
                center_y.append(centery)
                detection_score.append(score)
                
            lineId += 1
        data = pd.DataFrame(
                {'imgPath': imgPath,
                 'rad_x': rad_x,
                 'rad_y': rad_y,
                 'angle': angle,
                 'center_x': center_x,
                 'center_y': center_y,
                })
            
        return data

In [3]:
data = fddb_dataset("C:\\Users\\nidhimh\\Downloads\\FDDB-folds\\FDDB-fold-01-ellipseList.txt")

In [13]:
data

,imgPath,rad_x,rad_y,angle,center_x,center_y
0,2002/08/11/big/img_591\n,123.583300,85.549500,1.265839,269.693400,161.781200
1,2002/08/26/big/img_265\n,67.363819,44.511485,-1.476417,105.249970,87.209036
2,2002/08/26/big/img_265\n,41.936870,27.064477,1.471906,184.070915,129.345601
3,2002/08/26/big/img_265\n,70.993052,43.355200,1.370217,340.894300,117.498951
4,2002/07/19/big/img_423\n,87.080955,59.379319,1.550861,255.383099,133.767857
...,...,...,...,...,...,...
510,2002/07/29/big/img_889\n,58.056741,41.854608,1.280160,198.496421,86.716075
511,2002/08/18/big/img_188\n,67.995400,38.216200,-1.559920,208.966471,109.764400
512,2002/08/07/big/img_1453\n,58.887348,37.286244,1.441974,88.083450,78.409537
513,2002/08/07/big/img_1453\n,60.381076,40.303691,1.377522,260.502940,102.769525
514,2002/08/02/big/img_760\n,134.444208,92.088647,-1.507610,148.215574,160.035024

In [25]:
sub = data[data['imgPath'] == '2002/08/26/big/img_265\n']

In [26]:
sub = sub.iloc[:, 1:]

In [27]:
sub

       rad_x      rad_y     angle    center_x    center_y
1  67.363819  44.511485 -1.476417  105.249970   87.209036
2  41.936870  27.064477  1.471906  184.070915  129.345601
3  70.993052  43.355200  1.370217  340.894300  117.498951

In [28]:
len(sub)

3

In [29]:
list = sub.values.tolist()

In [18]:
list

[['2002/08/26/big/img_265\n',
  67.363819,
  44.511485,
  -1.476417,
  105.24997,
  87.209036],
 ['2002/08/26/big/img_265\n',
  41.93687,
  27.064477,
  1.471906,
  184.070915,
  129.345601],
 ['2002/08/26/big/img_265\n',
  70.993052,
  43.3552,
  1.370217,
  340.8943,
  117.498951]]

In [30]:
len(list)

3

In [31]:
dict = {'imgPath': '2002/08/26/big/img_265\n', 'parameters': list}

In [32]:
dict

{'imgPath': '2002/08/26/big/img_265\n',
 'parameters': [[67.363819, 44.511485, -1.476417, 105.24997, 87.209036],
  [41.93687, 27.064477, 1.471906, 184.070915, 129.345601],
  [70.993052, 43.3552, 1.370217, 340.8943, 117.498951]]}

In [34]:
len(dict['parameters'])

3

,imgPath,rad_x,rad_y,angle,center_x,center_y
1,2002/08/26/big/img_265\n,67.363819,44.511485,-1.476417,105.24997,87.209036